@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom, #154963 0%, #3f7e9d 50%, #154963 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #154963 0%, #3f7e9d 50%, #154963 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:Verdana, Geneva, Tahoma, sans-serif

}


